@import "../css/reset.css";
@import "../css/flexslider.css";
@import "../font-awesome-4.5.0/css/font-awesome.css";
@import "../css/bootstrap_grid.css";
@import "../css/swiper.css";
@import "../css/jquery-ui.min.css";
@import "../plugins/formstyler/formstyler.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic');
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Open Sans', sans-serif, Helvetica;
  font-size:16px;
  line-height: 24px;
  color:#626262;
  min-width:320px;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.box_pad{
  padding: 100px 0 100px; 
}

/*img{
  width: 100%;
  height: auto;
}*/

/*----------------------> Links And buttons <------------------*/
a {
  color: #626262;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#efc443;
  text-decoration:none;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

.col_black{
  color: #000;
}

/*======================> Breadcrumbs <======================*/
.breadcrumbs{
  margin-bottom: 2px;
}
  .breadcrumbs li{
    float: left;
    font-size: 14px;
    color: #fff;
    position: relative;
  }

    .breadcrumbs li:first-child::before{
      display: none;
    }

    .breadcrumbs li::before{
      content: "/";
      display: inline-block;
      margin: 0 0 0 4px;
    }

    .breadcrumbs li a{
      color: #fff;
    }

/*======================> Header <======================*/

header {}

.header_top{
  background: #f0f0f0;
  padding: 6px;
}

.header_info{
  position: relative;
  z-index: 3;
  padding-top: 239px;
}

.language_selection{
  float: left;
}

  .language_selection li{
    position: relative;
    cursor: pointer;
    padding-right: 17px;
    font-size: 14px;
    color: #232222;
  }

    .language_selection > li::before{
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      background: url(../images/arrow_land.png) 0 0 no-repeat;
      width: 11px;
      height: 6px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

  .language_selection li ul{
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

.social_list{
  float: right;
  margin: 0 -15px;
}

  .social_list li{
    float: left;
    font-size: 18px;
    margin: 0 15px;
  }

  .social_list li .fa{
    line-height: 24px;
  }

  .social_list li a{
    color: #545454;
  }

  .social_list li a:hover{
    color: #f9cd47;
  }

.header_menu{
  padding: 28px 30px 0;
  background: rgba(0, 0, 0, .65);
  position: relative;
  z-index: 10;
  width: 1140px;
  margin: 0 auto;
}  

.logo{
  display: inline-block;
}

  .logo a{
    display:block;
    width:161px;
    height:44px;
    background:url(../images/logo.png) 0 0 no-repeat;
    text-decoration:none;
    text-indent:-9999px;
  }

.header_menu nav{
  float: right;
}

.bnt_nav{
  display: none;
}

nav ul{
  margin: 0 -15px;
}  

nav ul li{
  float: left;
  margin: 0 15px;
  position: relative;
  padding: 10px 0 37px;
}

  nav ul li.current a::before,
  nav ul li a:hover::before{
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }

  nav ul li a::before{
    content: "";
    height: 2px;
    width: 100%;
    background: #efc443;
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }

nav ul li a{
  color: #fff;
  font-weight: 600;
}

.header_slider{
  position: relative;
  top: -100px;
}

  .header_content{
    min-height: 464px;
    position: relative;
    top: -100px;  
  }

    .header_content::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(35, 34, 34, .75);
    }

  .header_slider .swiper-slide{
    height: 1044px;
    text-align: center;
  }

  .bg1,
  .bg3{
    background: url(../images/index_01.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .bg2{
    background: url(../images/bg2.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .header_slider .swiper-pagination-bullet,
  .partners_carousel .swiper-pagination-bullet{
    width: 20px;
    height: 16px;
    border-radius: 0;
    opacity: 1;
    position: relative;
    background: none;
  }

    .header_slider .swiper-pagination-bullet::before,
    .partners_carousel .swiper-pagination-bullet::before{
      content: "";
      background: #eaeaea;
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -1px;
    }

  .header_slider .swiper-pagination-bullet-active::before,
  .partners_carousel .swiper-pagination-bullet-active::before{
    background: #efc443;
  }

  .header_slider .swiper-button-next{
    background: url(../images/arrow_next.png) 0 0 no-repeat;
    right: -98px;
  }

  .header_slider .swiper-button-prev{
    background: url(../images/arrow_prev.png) 0 0 no-repeat;
    left: -98px;
  }

  .header_slider .swiper-button-prev,
  .header_slider .swiper-button-next{
    width: 48px;
    height: 48px;
    opacity: .5;
  }

  .header_slider .swiper-button-prev:hover,
  .header_slider .swiper-button-next:hover{
    opacity: .85
  }  

  .content_slider{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1140px;
  }

  .header_slider .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 50px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 2px
  }

  .header_slider .container_arrow_swiper{
    position: absolute;
    width: 1140px;
    height: 48px;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .img_slide{
    text-align: center;
    margin-bottom: 35px;
  }

  .contact_info{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 11;
    text-align: center;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  .contact_info_item{
    display: inline-block;
    margin: 0 13px;
    width: 295px;
    padding: 20px 14px 20px 20px;
    background: #f9f9f9;
    font-size: 14px;
    line-height: 24px;
    color: #626262; 
    text-align: left; 
    min-height: 115px;
  }

    .contact_text{
      line-height: 21px;
    }

    .contact_text .title3,
    .contact_text h3{
      margin-top: -3px;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .contact_icon{
      width: 45px;
      float: left;
      margin-right: 20px;
    }

    .contact_icon img{
      max-width: 100%;
    }

/*=====================> Content ========================*/
#content {padding:80px 0px 0px 0px; min-height: 600px;}

.cont_pad{padding:0 0 0 0 !important;}

[data-border]{
  position: relative;
  padding-bottom: 24px;
}

  [data-border]::before{
    content: "";
    display: block;
    background: url(../images/title_border.png) 0 0 no-repeat;
    width: 130px;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .our_services .title2,
  .our_advantages .title2{
    margin-bottom: 50px;
  }

  .our_services_item{
    float: left;
    width: 25%;
    position: relative;
  }

    .our_services_item img{
      width: 100%;
      height: auto;
    }
    .our_services_item::before{
      content: "";
      background: #07678a;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
    }

    .our_services_item::after{
      content: "";
      box-shadow: inset 0 70px 100px rgba(0, 0, 0, .9);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .our_services_item:hover::before{
      opacity: 1;
      visibility: visible;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
    }

    .our_services_link{
      position: absolute;
      z-index: 3;
      bottom: 96px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      background: #efc443;
      color: #fff;
      border: 2px solid #efc443;
      padding: 9px 28px 7px;
      text-transform: uppercase;
      font-size: 14px;
      opacity: 0;
      visibility: hidden;
    }

    .our_services_link:hover{
      border-color: #fff;
      color: #fff;
    }

    .our_services_item:hover .our_services_link{
      opacity: 1;
      visibility: visible;
    }

    .our_services_item .title4{
      position: relative;
      z-index: 3;      
      text-shadow: 1px 1px 2px rgba(0, 0, 0, .16);
    }

    .our_services_item .our_services_container{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 46px;
    }

  [data-border="left"]::before,
  [data-border="grey_left"]::before{
    background: url(../images/border_left.png) 0 0 no-repeat;
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  [data-border="grey_left"]::before{
    background: url(../images/border_grey_left.png) 0 0 no-repeat;
  }

  .info_box_text .title2{
    margin-bottom: 48px;
  }

  .info_box_text .title5,
  .info_box_text h3,
  .about_us_text h3{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 34px;
    color: #232222;
    letter-spacing: 1.5px;
  }

  .info_box_text p{
    margin-bottom: 24px;
  }

  .info_box_text a{
    position: relative;
    color: #efc443;
    font-weight: bold;
    font-style: italic;
  }

  .info_box_text a:hover{
    color: #626262;
  }

  .info_box_text a::before{
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 3px;
    font-style: normal;
  }

  .our_advantages{
    padding-bottom: 356px;
  }

  .our_advantages{
    background: url(../images/bg2.png) 0 0 no-repeat;
  }

  .our_advantages .title2{
    color: #fff;
  }

  [data-border="white"]::before{
    background: url(../images/border_white.png) 0 0 no-repeat;
  }

  .our_advantages .contact_info_item{
    width: 100%;
    min-height: 140px;
    margin: 0 0 30px;
  }

    .our_advantages .contact_icon{
      margin-right: 20px;
    }

  .form_container{
    display: table;
    width: 100%;
    table-layout: fixed;
    vertical-align: middle;
  }

    .form_left{
      display: table-cell;
      width: 47.4%;
    }

      .input_row_wrap{
        margin: 0 -15px;
      }

      .input_row{
        width: 50%;
        float: left;
        margin-bottom: 30px;
        padding: 0 15px; 
      }

        .input_row input{
          font-family: 'Open Sans', sans-serif, Helvetica;
          font-size: 14px;
          padding: 0 20px;
          border: 1px solid #f1f1f1;
          line-height: 44px; 
          height: 46px;
          color: #c6c6c6;
          width: 100%;
          background: #fdfdfd;
        } 

        input::-webkit-input-placeholder{
            font-family: 'Open Sans', sans-serif, Helvetica;
            font-size: 14px;
            line-height: 44px;   
            color: #c6c6c6;
            transition: all 0.5s ease;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
        input::-moz-placeholder{
            font-family: 'Open Sans', sans-serif, Helvetica;
            font-size: 14px;
            line-height: 44px;   
            color: #c6c6c6;
            transition: all 0.5s ease;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
        input:-moz-placeholder{
            font-family: 'Open Sans', sans-serif, Helvetica;
            font-size: 14px;
            line-height: 44px;   
            color: #c6c6c6;
            transition: all 0.5s ease;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
        input:-ms-input-placeholder{
            font-family: 'Open Sans', sans-serif, Helvetica;
            font-size: 14px;
            line-height: 44px;   
            color: #c6c6c6;
            transition: all 0.5s ease;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

        input:focus::-webkit-input-placeholder {
            opacity: 0; 
            transition: all 0.5s ease;
        }
        input:focus::-moz-placeholder{
            opacity: 0; 
            transition: all 0.5s ease;
        }
        input:focus:-moz-placeholder{
            opacity: 0; 
            transition: all 0.5s ease;
        }
        input:focus:-ms-input-placeholder{
            opacity: 0; 
            transition: all 0.5s ease;
        }

        .input_row .jq-selectbox{
          width: 100%;
        }

        .input_row .jq-selectbox__select{
          background: #fdfdfd;
          height: 46px;
          padding-left: 20px;
          line-height: 44px;
          font-family: 'Open Sans', sans-serif, Helvetica;
          box-shadow: none;
          text-shadow: none;
          border-radius: 0;      
          border: 1px solid #f1f1f1;  
          color: #b1b1b1;
          font-size: 14px; 
        } 

        .input_row .jq-selectbox__trigger{
          border: none;
        }

        .input_row .jq-selectbox__trigger-arrow{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: none;
        }

          .input_row .jq-selectbox__trigger-arrow::before{
            content: "\f107";
            font-size: 18px;
            font-family: FontAwesome;
            color: #b1b1b1;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }

          .input_row .select_departure .jq-selectbox__trigger-arrow::before{
            content: "\f041";
          }

        .input_row .jq-selectbox__dropdown li:first-child{
          display: none;
        }  

        textarea{
          width: 100%;
          resize: none;
          border: 1px solid #f1f1f1;
          background: #fdfdfd;
          font-family: 'Open Sans', sans-serif, Helvetica !important;
          font-size: 14px;
          color: #b1b1b1;
          height: 160px;
          padding: 8px 20px; 
        }

        textarea::-webkit-input-placeholder{  
            transition: all 0.5s ease;
            font-family: 'Open Sans', sans-serif, Helvetica;
            font-size: 14px;
            color: #c6c6c6;
        }
        textarea::-moz-placeholder{  
            transition: all 0.5s ease;
            font-family: 'Open Sans', sans-serif, Helvetica;
            font-size: 14px;
            color: #c6c6c6;
        }
        textarea:-moz-placeholder{  
            transition: all 0.5s ease;
            font-family: 'Open Sans', sans-serif, Helvetica;
            font-size: 14px;
            color: #c6c6c6;
        }
        textarea:-ms-input-placeholder{  
            transition: all 0.5s ease;
            font-family: 'Open Sans', sans-serif, Helvetica;
            font-size: 14px;
            color: #c6c6c6;
        }

        textarea:focus::-webkit-input-placeholder{
            transition: all 0.5s ease;
            opacity: 0;
        }
        textarea:focus::-moz-placeholder{
            transition: all 0.5s ease;
            opacity: 0;
        }
        textarea:focus:-moz-placeholder{
            transition: all 0.5s ease;
            opacity: 0;
        }
        textarea:focus:-ms-input-placeholder{
            transition: all 0.5s ease;
            opacity: 0;
        }

        button{
          padding: 12px 26px;
          background: #efc443;
          border: 2px solid #efc443;
          text-transform: uppercase;
          font-size: 14px;
          color: #fff;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, .16);
          cursor: pointer;
          outline: none;
          margin-top: 24px;
        }

          button:hover{
            border-color: #fff;
          }

    .form_right{
      display: table-cell;
      width: 52.6%;
      vertical-align: middle;
      text-align: right;  
    }


  .our_partners{
    background: #f9f9f9;
  }

  .our_partners.box_pad{
    padding-bottom: 85px;
  }

    .our_partners p{
      margin-bottom: 48px;
    }

    .partners_carousel{
        padding-bottom: 65px;
    }

    .partners_link{
      display: inline-block;
      line-height: 135px;
    }

      .partners_link img{
        vertical-align: middle;
      }

      .partners_carousel .swiper-pagination{
        bottom: 0;
      }

/*=====================> Contacts page ========================*/

  .header_content{
    background: url(../images/cont_bg.jpg) 0 0 no-repeat;
  }

  [data-border="grey"]::before{
    background: url(../images/border_grey.png) 0 0 no-repeat;
  }

  .contact_form .input_row{
    width: 33.3333%;
  }

  #map{
    height: 500px;
    margin-top: 100px;
  }

/*=====================> About page ========================*/

  .about_us_box,
  .services_list_box{
    margin-top: -80px;
  }

  .about_us_img{
    margin-right: 30px;
  }

  .about_us_text{
    display: inline;
  }

  .about_us_text .title2{
    display: inline-block;
  }

  .about_us_text .title5,
  .about_us_text h3{
    margin-bottom: 18px;
  }

  .counter_box{
    font-size: 0;
    margin-top: -30px;
  }

    .counter_item{
      display: inline-block;
      width: 20%;
      text-transform: uppercase;
      padding-top: 30px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }

    .counter_value{
      font-size: 46px;
      line-height: 1em;
      font-weight: 700;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #232222;
    }

    .counter_text{
      text-transform: uppercase;
      margin-top: 18px;
    }

    [data-plus]{
      position: relative;
    }

    [data-plus]::after{
      content: "+";
      color: #efc443;
    }

  .feedback_box{
    padding-bottom: 100px;
  }  

    .accordion_title:not(:first-child){
      margin-top: 10px;
    }

    .accordion_title{
      margin-bottom: 0;
      padding: 10px 40px 8px 20px;
      background: #f9f9f9;
      color: #232222;
      display: block;
      position: relative;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
    }

    .accordion_title.ui-accordion-header-active{
      background: #fff;
      margin-bottom: 0;
      border-bottom-color: #efc443;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
    }

    .accordion_title::before{
      content: "\f067";
      font-family: FontAwesome;
      display: block;
      position: absolute;
      right: 16px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #b1b1b1;
    }

      .accordion_title.ui-accordion-header-active::before{
        content: "\f068";
      }

    .accordion_content{
      padding: 18px 20px;
    }


    .reviews_slider{
      padding-bottom: 44px;
    }  

    .reviews_slider_item{
      background: #f9f9f9;
      padding: 21px 25px; 
    }

      .reviews_slider_item p{
        font-style: italic;
        margin-bottom: 0;
      }

      .reviews_sub_title{
        font-size: 13px;
        display: block;
        margin-bottom: 20px;
      }

      .reviews_slider .swiper-button-prev, 
      .reviews_slider .swiper-button-next{
        width: 24px;
        height: 24px;
        background-size: auto;
        top: auto;
        bottom: 0;
      } 

      .reviews_slider .swiper-button-next{
        background: url(../images/reviews_next.png) 0 0 no-repeat;
        right: auto;
        left: 33px;
      }
      .reviews_slider .swiper-button-prev{
        background: url(../images/reviews_prev.png) 0 0 no-repeat;
        left: 0; 
      }

      .reviews_slider .swiper-button-next:hover{
        background-position: 0 100%;
      }
      .reviews_slider .swiper-button-prev:hover{
        background-position: 0 100%; 
      }

/*=====================> Services page ========================*/

  .services_list li{
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px
  }

    .services_list li::before{
      content: "\f105";
      color: #efc443;
      font-size: 16px;
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      top: 0;
    }


  .services_item:not(:last-child){
    margin-bottom: 50px;
  }  

  .services_item h4{
    color: #232222;
    padding-bottom: 12px;
    margin-bottom: 18px;
  }  

  .services_item h4:not(:first-child){
    margin-top: 23px;
  }

  .our_advantages.services{
    background: url(../images/services_bg.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    padding-bottom: 70px;
  }

    .our_advantages.services:before{
      content: "";
      background: rgba(35, 34, 34, .55);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .our_advantages.services .contact_info_item{
      display: table;
      width: 100%;
      table-layout: fixed;
      vertical-align: middle;
      padding-left: 30px;
    }

    .our_advantages.services .contact_icon{
      width: 52px;
      display: table-cell;
      float: none;
      vertical-align: middle;
    } 

    .our_advantages.services .contact_text{
      display: table-cell;
      vertical-align: middle;
      padding-left: 30px;
    }

    .our_advantages.services .contact_info_item h3{
      font-size: 24px;
      line-height: 32px;
      color: #232222;
      font-weight: bold;
    }




/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.p2{ margin-bottom:0;}
.p3{ margin-bottom:0;}
.p4{ margin-bottom:0;}
.p5{ margin-bottom:0;}
.p6{ margin-bottom:0;}

.mb50{
  margin-bottom: 50px;
}


/*=====================> Lists ========================*/
.list1{}
.list1_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1_link{}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.title{
  font-size: 60px;
  line-height: 60px;
  color: #fff;
  letter-spacing: 16px;
  font-weight: bold;
}

.title1{
  font-size: 48px;
  line-height: 68px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong{
  font-weight: bold;
}

.title2{
  font-size: 34px;
  line-height: 26px;
  color:#232222;
  text-transform: uppercase;
}

.title3{
  font-size: 18px;
  line-height: 24px;
  color: #232222;
}

h4,
.title4{
  font-size: 28px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
}

.title5{
  font-size: 24px;
  line-height: 34px;
  color: #232222;
  letter-spacing: 1.5px;
}

.title6{
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.title7{
  font-size: 80px;
  line-height: 70px;
  color: #000;
  letter-spacing: 5px;
  font-weight: bold;
}

.t_ind{ margin-bottom:px;}
.t_ind1{ margin-bottom:px;}
.t_ind2{ margin-bottom:px;}

/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a,
button{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover,
button:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

/*================================>> Footer <<========================================*/

.footer_widget_content{
  background: #232222;
  font-size: 14px;
  color: #c6c6c6;
}

  .footer_widget_content .logo{
    margin-bottom: 26px; 
  }

  .footer_widget_content p{
    margin-bottom: 22px;
  }

  .footer_cont_list li:not(:last-child){
    margin-bottom: 7px;
  }

  .footer_widget_content a{
    color: #c6c6c6;
  }

  .footer_widget_content a:hover{
    color: #efc443;
  }


  .footer_cont_list span{
    display: inline-block;
    width: 15px;
    margin-right: 15px;
  }

  .footer_cont_list span .fa{
    font-size: 14px;
    line-height: 24px;
  }

  .footer_widget_content figure:not(:last-child){
    margin-bottom: 28px;
  }

  .block_img{
    float: left;
    margin-right: 20px;
  }

  .news_time{
    font-size: 12px;
  }

    .news_time a{
      color: #efc443;
      text-transform: uppercase; 
    }

    a.news_title{
      line-height: 22px;
      color: #fff;
    }

    a.news_title:hover{
      color: #efc443;
    }

  .useful_links_list li{
    position: relative;
    margin-bottom: 7px;
  }

    .useful_links_list li a{
      padding-left: 22px;
    }

    .useful_links_list li a::before{
      content: "\f105";
      font-family: FontAwesome;
      font-size: 16px;
      line-height: 24px;
      position: absolute;
      left: 0;
    }  

    .footer_input{
      background: #444444;
      border: 1px solid #313131;
      height: 46px;
      padding: 0 20px; 
    }

      .footer_input input{
        border: none;
        background: none;
        line-height: 44px;
        font-size: 14px;
        color: #c6c6c6;
        width: 87%;
      }

      .footer_input button{
        color: #efc443;
        border: none;
        background: none;
        outline: none; 
        padding: 0;
        margin: 0;
        cursor: pointer;
        line-height: 44px;
        padding: 0 0 0 10px; 
      }

      .footer_input button .fa{
        font-size: 14px;
        line-height: 44px;
      }

  [data-border="small"]{
    padding-bottom: 16px;
  }

  [data-border="small"]::before{
    background: url(../images/footer_border.png) 0 0 no-repeat;
    width: 60px;
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

.footer_copyright{
  background: #080808;
  font-size: 14px;
  color: #c6c6c6;
  padding: 28px 0; 
}

  .footer_copyright .fa{
    line-height: 24px;
  }

  .footer_copyright a{
    color: #efc443;
  }

  .footer_copyright a:hover{
    color: #c6c6c6;
  }

  .footer_copyright ul{
    overflow: hidden;
    margin: 0 -15px;
    float: right;
  }

    .footer_copyright ul li{
      float: left;
      margin: 0 15px;
    }

      .footer_copyright ul li a{
        color: #fff;
        font-weight: bold;
        font-size: 16px;        
      }

      .footer_copyright ul li a:hover{
        color: #efc443;
      }

.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}